#spisok {
	margin: 0 auto;
	width: 1000px;
}
#spisok ul li {

	display: inline-block;
}#spisok ul li img {
	width: 100%;
}
#spisok input {
	padding: 8px 100px 8px 100px;
}
#spisok ul {
	padding: 0 7%;
	text-align: justify;
}
#spisok ul  #end {
	display: inline-block;
	width: 100%;
}
